<!DOCTYPE html>
<html>
<head>
  <title>Update Appointment</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('partials/header') %>
  <main>
    <h1>Update Appointment</h1>
    <form action="/appointments/update/<%= appointment._id %>" method="POST">
      <label for="petID">Pet:</label>
      <select id="petID" name="petID" required>
        <% pets.forEach(pet => { %>
          <option value="<%= pet._id %>" <%= appointment.petID.equals(pet._id) ? 'selected' : '' %>><%= pet.name %> (<%= pet._id %>)</option>
        <% }) %>
      </select>
      <br>
      <label for="walkerID">Walker:</label>
      <select id="walkerID" name="walkerID" required>
        <% dogWalkers.forEach(dogWalker => { %>
          <option value="<%= dogWalker._id %>" <%= appointment.walkerID.equals(dogWalker._id) ? 'selected' : '' %>><%= dogWalker.name %> (<%= dogWalker._id %>)</option>
        <% }) %>
      </select>
      <br>
      <label for="dateTime">Date and Time:</label>
      <input type="datetime-local" id="dateTime" name="dateTime" value="<%= new Date(appointment.dateTime).toISOString().slice(0, -1) %>" required>
      <br>
      <button type="submit">Update Appointment</button>
    </form>
  </main>
  <%- include('partials/footer') %>
</body>
</html>
